@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: url(imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: 100vw 130vh;
    background-attachment: fixed;
}
html, body{
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 120vh;
    position: relative;
}

#telefone{
    position: absolute;
    height: 627px;
    width: 311px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url('imagens/frame-iphone.png');
    background-repeat: no-repeat;
}

#tela{
    position: relative;
    top: 80px;
    left: 22px;
    height: 472px;
    width: 267.5px;
}

#redessociais{
    text-align: right;
}

#redessociais img{
    position: relative;
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    top: 10vh;
    box-shadow: 2px 2px 5px black;
}

#redessociais img:hover{
    border: 2px solid rgba(255, 255, 255, 0.600);
    box-sizing: border-box;
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px black;
    transition: transform 0.5s, border 0.3s;
}
